body{
    overflow-x: hidden;
}
#head{
    background: black;
    width: 110%;
    height: 100px;
    position: fixed;
    top: 0;
}
#logo
{
    margin-left: 20px;
    //border: 1px solid blue;
    height: 106px;
    float: left;
    width:177px;
    float: left;
}

#heading{
    //text-align: center;
    padding: 20px 0 0 30px;
    color: white;
    float: left;
}
#main{
    margin-top: 115px;
    padding: 20px 60px 20px 60px;
}
#footer {
    border-top: 1px solid lightgray;
    position:relative;
    margin-top: 15px;
    bottom:0;
    width:100%;
    height:150px;   /* Height of the footer */
    //background:#6cf;
}

#flogo{
    width: 220px;
    height: auto;
    margin:auto;
    margin-top: -50;
}
#follow{
    height: 40px;
    padding-left: 35%;
}

.icons{
    float: left;
    margin: auto;
    margin-right: 8%;
}
#copyrights{
    background: rgba(1,1,1,1);
    text-align: center;
    color: rgba(0,0,0,.5);
}
